In [5]:
import pandas as pd
filename = '/mnt/d/OneDrive/001我的Quant/data/fundreport.xlsx'
df = pd.read_excel(filename, sheet_name = '2020年以后', names = ['date', 'nav'],
                    header=0, na_values=['#REF!'])
print(df)
df = df.dropna()
df

           date       nav
0    2020-01-03  0.998961
1    2020-01-06  1.009243
2    2020-01-07  1.006866
3    2020-01-08  1.014300
4    2020-01-09  1.009956
...         ...       ...
2356        NaT       NaN
2357        NaT       NaN
2358        NaT       NaN
2359        NaT       NaN
2360        NaT       NaN

[2361 rows x 2 columns]

          date       nav
0   2020-01-03  0.998961
1   2020-01-06  1.009243
2   2020-01-07  1.006866
3   2020-01-08  1.014300
4   2020-01-09  1.009956
..         ...       ...
974 2023-11-17  1.378159
975 2023-11-20  1.390971
976 2023-11-21  1.401041
977 2023-11-22  1.413796
978 2023-11-23  1.428210

[976 rows x 2 columns]